{{> header}}

{{#if email}}
{{> userInfo}}
{{/if}}

{{> menu}}
<div id="homePage" class="homePage center">

    {{#each data}}
    <div class="product left">

        <div class="imageProduct">
            <img src={{doc.image}} alt="">
        </div>

        <div class="titleProduct">
            <p>{{doc.category}} - {{doc.brand}} {{doc.model}}</p>
        </div>
        <div class="priceProduct">
            <h3>${{doc.price}}</h3>
        </div>

        <div class="btnProduct">
            {{#if ../admin}}
            <a class="btn left btnBuy" href="#/productForm/{{id}}">Change</a>
            {{else}}
            <a class="btn left btnBuy" href="">Add to cart</a>
            {{/if}}
            <a class="btn left btnSave" href="#/home/{{doc.category}}/{{id}}">More</a>
        </div>

    </div>
    {{/each}}

</div>
{{> footer}}
<script>
    Handlebars.registerHelper('toLowerCase', function (str) {
        return str.toLowerCase();
    });
</script>
