<div class="userInfoBack">
    <div class="userInfo center">
        {{#if admin}}
            <a class="btn" href="#/productForm">Add new product</a>
            <a class="btn" href="#/database">Database</a>
            <a class="btn" href="http://localhost:9000/_utils">PouchDB</a>
            <a class="btn" href="http://localhost:5984/_utils">CouchDB</a>
        {{else}}

        <div>
            <div id="shoppingCart">
                <table width="100%">
                    <tr>
                        <th width="20%"></th>
                        <th width="50%"></th>
                        <th width="15%"></th>
                        <th width="15%"></th>
                    </tr>
                    {{#each shoppingCart}}
                    <tr>
                        <td class="shoppingCartImage">
                            <img src="{{image}}" alt="Not Found">
                        </td>
                        <td>
                            <p>{{name}}</p>
                        </td>
                        <td>
                            <p>{{price}}</p>
                        </td>
                        <td>
                            <button value={{id}} onclick="removeItemFromCart(this)">✖</button>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        
        <div id="userInfo">

            <div class="user left">
                <p>Name:</p>
                <p>Email:</p>
                <p>Phone:</p>
                <p>Address:</p>
            </div>
            <div class="user left">
                <p>{{firstName}} {{lastName}}</p>
                <p>{{email}}</p>
                <p>{{phone}}</p>
                <p>{{address}}</p>
            </div>
            <div id="totalPrice">
                <h1>${{totalPrice}}</h1>
            </div>
        </div>

        {{/if}}

    </div>
</div>
