<div class="userInfoBack">
    <div class="userInfo center">
        {{#if admin}}
        <div id="userInfo">
            <a class="btn" href="#/productForm">Add new product</a>
            <a class="btn" href="#/database">Database</a>
            <a class="btn" href="http://localhost:9000/_utils">PouchDB</a>
            <a class="btn" href="http://localhost:5984/_utils">CouchDB</a>
        </div>
        {{else}}
        <div></div>
        <div id="userInfo">
            <div class="userImage">
                <img src="" alt="">
            </div>
            <div class="user left">
                <p>Name:</p>
                <p>Email:</p>
                <p>Phone:</p>
                <p>Address:</p>
            </div>
            <div class="user left">
                <p>{{firstName}} {{lastName}}</p>
                <p>{{email}}</p>
                <p>{{phone}}</p>
                <p>{{address}}</p>
            </div>
        </div>

        <div>
            <div id="shoppingCart">
                <table>
                    <tr>
                        <th>Immage</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    {{#each shoppingCart}}
                    <tr>
                        <td>
                            <img src="{{image}}" alt="Not Found">
                        </td>
                        <td>
                            <p>{{name}}</p>
                        </td>
                        <td>
                            <p>{{price}}</p>
                        </td>
                        <td>
                            <button value={{id}} onclick="removeItemFromCart(this)">REMOVE</button>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        {{/if}}

    </div>
</div>
